/* paramètre de la page*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* fin paramètre de la page*/

/*barre de navigation*/

.page_name{
    color: rgb(212, 123, 6);
    font-size: 25px;
    font-weight: 700;
    margin: auto 50px;
    max-width: 50%;
    transition: all 0.3s ease;
  }
  
  .page_name.sticky3{
    color: white;
  }
  
  
  .navigation{
    z-index: 1300;
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #cccccc 2px 2px 2px ;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
  }
  
  .navigation.sticky{
    padding: 15px;
    background: rgb(212, 123, 6);
    box-shadow: none ;
  }
  
  .navigation_info{
    top: 10px;
    position: relative;
    text-decoration: none;
    display: flex;
    margin-left: 25% ;
  }
  
  .nav_info{
    margin-right: 30px;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 18px;
    font-family: 'poppins regular';
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .nav_info.sticky2{
    color: white;
  }
  
  .nav_info.sticky2:hover{
    color: rgb(212, 123, 6);
  }
  
  .nav_info:hover{
    color: rgb(212, 123, 6);
    transition: 500ms ease;
  }

/*barre de navigation*/

.recherche{
    position: relative;
    top: -5px;
    padding-left: 30px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    border: solid #cccccc 0.1px ;
    font-family: 'poppins';
    font-size: 17px;
    transition: all ease-out 300ms;
    color: #5d5d5d;
}

.recherche:focus{
  outline: none;
  outline-offset: none;
}

.container{
  position: absolute;
  top: 250px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.container2{
  position: absolute;
  top: 1050px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.title{
  position: relative;
  top: -70px;
  font-size: 22px;
  font-family: 'poppins';
  color: rgb(212, 123, 6);
}

.main{
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
}

.main2{
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
}


.case{
  width: 24%;
  height: 700px;
  display: row;
  float: left;
  margin-right: 10px;
  border-radius: 15px;
  margin: 15px;
  float: left;
  margin: 0 auto;
  border: solid #cccccc 0.1px;
}

.case p{
  position: relative;
  top: 25px;
  font-family: 'poppins';
  font-size: 18px;
}

.text{
  position: relative;
  top: -210px;
  font-family: 'poppins';
  font-weight: 700;
  font-size: 0px;
}

.img{
  width: 375px;
  height: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}

.img:hover{
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  transition: all ease-in 0.5s;
  font-size: 22px;
}

.containt{
  position: relative;
  top: 30px;
  height: 90px;
  width: 100%;
  padding-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itinerary{
  height: 55px;
  width: 55px;
  border-radius: 100px;
  background-color: rgb(212, 123, 6);
  margin-right: 40px;
  display: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img1{
  margin-top: 12px;
  height: 30px;
  width: 30px;
}

.img2{
  margin-top: 18px;
  height: 20px;
  width: 20px;
}

.text1{
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: flex;
  margin-top: 4px;
}

.text2{
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: flex;
  margin-top: 8px;
}

.bigText{
  font-family: 'poppins';
  width: 300px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
}

.btn2{
  position: relative;
  top: -60px;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  border: none;
  background-color: rgb(212, 123, 6);
  color: white;
  font-family: 'poppins';
  font-size: 16px;
  transition: all ease-in 500ms;
}

.btn2:hover{
  background-color: rgb(212, 123, 6);
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .case {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
